.banner {
  background-color: red;
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1, h3 {
    color: white;
    text-align: center;
  }
}
