<div class="container">
  <div class="form_new mt-2">
    <h1> Add a new Category</h1>
    <%= simple_form_for @category do |f|%>
    <%= f.input :name, placeholder: 'The category name', label: false %>
    <%= f.input :photo, as: :file, label: "Photo" %>
    <%= f.submit class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
